*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Work Sans', sans-serif;
}

/* header section  */
header{
    background-image: url(images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
   
}

.title{
    text-align: right;
    padding: 250px 250px 500px 250px;
    margin-left: 1200px;
}

.head-title{
    color: #151414;
    font-size: 65px;
    font-weight: 700;
}
.head-description{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    margin-top: 25px;
    padding-left: 100px;
}
.contact-btn{
    margin-top: 30px;
    width: 160px;
    height: 64px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    background: #F15B22;
    color: #fff;
}

/* main section  */
main{
    width: 70%;
    max-width: 1600px;
    margin: 0 auto;
}
.mid-section{
    align-items:center;
    padding: 200px 0px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

/* picture  */
.pic-column{
    height: 724px;
    width: 569px;
    display: flex;
}
.pic-column img{
    position: absolute;
}

.round{
    width: 527.929px;
    height: 527.929px;
    border-radius: 527.929px;
    background-color: rgba(241, 91, 34, 0.20);
    margin: 0px 18px;
    align-self: self-end;
}

/* failure container  */
.info-column{
    width: 25%;
    text-align: left;
    
}

.mid-title{
    padding: 20px 0px;
    color:#151414;
    font-size: 40px;
}
.mid-description{
    padding: 20px 0px;
    color:#444343;
    font-size: 16px;
}

ul>li{
    list-style: none;
    padding-bottom: 10px;
}
.icons{
    color: #16D887;
    font-size: 20px;
    padding: 10px;
}

/* My plan  */
.my-plans{
    text-align: center;
}
.plan-container{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 30px;
    margin-bottom: 100px;
}
.plan-title{
    padding: 10px;
    color: #151414;
    text-align: center;
    font-size: 30px;
}
.plan-subtitle{
    color: #737272;
    font-size: 25px;
}
/* banner section  */

.banner{
    margin: 230px;
    background-image: url(images/watch.png);
    background-repeat: no-repeat;
    border-radius: 8px;
    border: none;
}
.call-container{
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0.00) 100%);
    padding: 59px 0 59px 64px;
    border-radius: 10px;
}
.banner-title{
    color: #fff;
    width: 459px;
    font-size: 40px;
    padding-bottom: 30px;
}
.primary-btn{
    width: 160px;
    height: 64px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    background: #ffffff;
    color: #F15B22;
}

/* footer section  */
footer{
    background-color: #151414;
    width: 100%;
}
.foot{
    display: flex;
    gap: 330px;
    width: 70%;
    max-width: 1600px;
    margin:0 auto;
    padding: 130px;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}
.foot-title{
    font-size: 45px;
}
.foot-info{
    width: 485px;
    font-size: 16px;
    padding:10px 0px;
}
.future .email{
    font-size: 16px;
    padding:10px 0px;
}
.future .phone{
    font-size: 16px;
    padding:10px 0px;
}
.logo-container{
    display: flex;
    gap: 20px;
}

.foot-form .subscribe{
    font-size: 25px;
    font-style: normal;
    padding:10px 0px;
}
.foot-form #email{
    background-color: #151414;
    color:#fff;
    border-radius: 8px;
    border: 1px solid #FFF;
    width: 325px;
    height: 64px;
    margin: 30px 0px;
    padding: 5px;
}




